.menu {
    display: table;
    width: 45%;
    font-size: 42px;
    border: none;
    margin: auto;
    border: 1px solid #00995F;
    padding: 2px;
    text-align: center;
}

.btn {
    background-color: #9F00FF;
}

a {
    color: #43b36f;
}

a:hover {
    background-color: black;
    color: #f5c44f;
}

#header {
    margin: auto;
    display: table;
    line-height: 42px;
    padding-top: 15px;
    text-align: center;
}

#title {
    color: #57b941;
    font-size: 3em;
    font-family: "VT323", sans-serif;
}

#subtitle {
    color: #f5c44f;
    font-size: 3em;
    font-family: "Freehand", sans-serif;
}

#blurb {
    grid-column: 3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid div {
    padding: 6px;
    border: 66px black;
    border-radius: 7px;
    text-align: center;
    font-family: "ADLaM Display", sans-serif;
    color: white;
    background-color: #57b941;
}

body {
    width: 90%;
    margin: auto;
    background-color: #213834;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}