.menu {
 border: none;
 background-color: #9F00FF;
 list-style-type: none;
 border: 1px solid #00995F;
 padding: 2px;
}

li {
 text-align: center;
}

li a:hover {
 background-color: black;
 color: #FF9F00;
}

#header {
 text-align: center;
}

#title {
 color: lime;
 font-size: 10vw;
}

#subtitle {
 color: lime;
 font-size: 5vw;
}

body {
 width: 75%;
 margin: auto;
 background-color: #00190F;
 -ms-overflow-style: none;
 scrollbar-width: none;
}

body::-webkit-scrollbar {
 display: none;
}