div {
    width: 333px;
}

ul {
    list-style-type: none;
    border: 1px solid #00995F;
    margin: auto;
    padding: auto;
}

li {
text-align: center;
border-bottom: 1px solid #555;
}

li:last-child {
border-bottom: none;
}

li a:hover:not(.active) {
    background-color: black;
    color: #FF9F00;
}

li a:hover:not(.active) {
    background-color: black;
    color: #9F00FF;
}