.menu {
    display: table;
    width: 45%;
    font-size: 3vw;
    border: none;
    margin: auto;
    border: 1px solid #00995F;
    padding: 2px;
    text-align: center;
}

.btn {
    background-color: #9F00FF;
}

.btn a:hover {
    background-color: black;
    color: #FF9F00;
}

#header {
    margin: auto;
    display: table;
    line-height: 25px;
    padding-top: 16px;
    text-align: center;
}

#title {
    color: #00FF9F;
    font-size: 64px;
}

#subtitle {
    color: #00FF9F;
    font-size: 33.5px;
}

body {
    width: 90%;
    margin: auto;
    background-color: #00331F;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}