#loot {
    font-size: 125%;
    line-height: 150%;
    margin-left: 15vw;
    margin-right: 15vw;
}

p {
    position: relative;
    z-index: -3;
    color: #00ff9f;
}

#btn1 {
    color: #9F00FF;
    background: url('') no-repeat;
    border-radius: 25px;
    font-size: 24px;
    width: 250px;
    height: 42px;
    border: 6px inset #00995F;
    @media screen and (min-height: 500px) {
        height: calc(7.5vh + 1vw);
    }
    @media screen and (min-width: 500px) {
        width: 50vw;
    }
}

#btn1:hover {
    border: 6px outset #00995F;
}

#btn1:active {
    border: 6px ridge #00995F;
    color: #FF9F00;
    background: #9F00FF;
}

.screen {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
}

.screen2 {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
}

#t1 {
    color: #22a0b6;
    display: inline;
}

#t2 {
    color: #cb0c59;
    display: inline;
}

#crewname {
    color: white;
    display: inline;
}

#pip {
    color: #00ff9f;
    display: inline;
}

#hsep {
    font-size: 1vh;
}

.title {
    position: sticky;
    z-index: -3;
    font-size: 36px;
    @media screen and (min-height: 500px) {
        font-size: calc(4vw + 6vh);
    }
    margin-top: 16px;
}

body {
    text-align: center;
    font-family: "Workbench", sans-serif;
    background-color: black;
}