p {
    font-size: 36px;
    color: white;
}

body {
    width: 90%;
    margin: auto;
    background-color: #008650;
}

#title {
    font-size: 136px;
    color: purple;
}

.list {
    font-size: 36px;
    color: white;
}