#title {
    font-size: 3em;
    color: black;
    text-shadow: none;
}

body {
    text-align: center;
    color: white;
    text-shadow: 
        -1px -1px 0 black,  /* Top-left shadow */
        1px -1px 0 black,  /* Top-right shadow */
        -1px  1px 0 black,  /* Bottom-left shadow */
        1px  1px 0 black;  /* Bottom-right shadow */
    margin: auto;
    background-color: seagreen;
}

#button {
    font-size: 2em;
    background-color: goldenrod;
    border: .1em solid black;
}

img {
    height: 25vh;
    margin-left: -6vh;
    margin-right: -6vh;
}